<% include partials/header %>

<div class="row">
    <div class="col-lg-2 col-centered">
        <h1>404 Error</h1>
        <a href = "/shop"><button class = "btn btn-primary"><i class = "fa fa-home"></i> Go Home</button></a>
    </div>
</div>
 
<% include partials/footer %>