<% include partials/header %>

<div class = "container">
    
    <div id = "main-header" class = "container">
        <h1> PreT3xt </h1>
        <button class="btn btn-warning"><a href = "/shop">Start Shopping</a></button>
    </div>
    
</div>


<% include partials/footer %>