#main-header {
    padding-top: 300px ;
    padding-left: 70vh ;
}

#main-header a{
    color: white;
}

#post_container {
    margin-right: 15px;
}

#post_container img{
    width: 100%;
}

a {
    color:white;
}

#left_menu{
    /*padding-right: 50px;*/
}

.inline_form {
    display: inline;
}

#btn_container {
    padding-top: 40px;
}

.jumbotron hr {
    
    border-top: 1px solid black;
}

form a {
    color: lightblue;
}

#main_container {
    
   
    border-left: 1px solid;
     border-left-color: rgba(1,0,1,0.3);
    
}

h2 a {
    color:lightblue;
}