<% include ../partials/header %>

<% include ../partials/nav%>

<div class = "container">
    
    <h1> Add a new Item </h1>
    
            <form action = "/shop" method = "POST" >
                
                <div class = "form group">
                    <input type = "text" name = "post[title]" placeholder = "Item name" class = "form-control input-lg">
                </div>
                <div class = "form group">
                    <input type = "number" name = "post[price]" placeholder = "Item price" class = "form-control">
                </div>
                <div class = "form group"> 
                    <input type = "text" name = "post[image]" placeholder = "Item image" class = "form-control">
                </div>
                
                <div class = radio-inline>
                    <label><input type="radio" name="post[category]" value = "cars">Cars</label>
                </div>
                <div class = radio-inline>
                    <label><input type="radio" name="post[category]" value = "elec">Electronics</label>
                </div>
                <div class = radio-inline>
                    <label><input type="radio" name="post[category]" value = "out">Outdoors</label>
                </div>
                <div class = radio-inline>
                    <label><input type="radio" name="post[category]" value = "anm">Animal</label>
                </div>
                <div class = radio-inline>
                    <label><input type="radio" name="post[category]" value = "home">Furniture & Housing</label>
                </div>
                <div class = radio-inline>
                    <label><input type="radio" name="post[category]" value = "oter">Other</label>
                </div>
                
                <div class = "form group">
                    <textarea name = "post[desc]" placeholder = "Describe the item" class = "form-control"></textarea>
                </div>
                <div class = "form group">
                    <input type = "submit" class = "btn btn-primary">
                </div>
                
            </form>
</div>

<% include ../partials/footer %>